*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.top{
    margin-left: auto;
}
input{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 500px;
    background-color: aqua;
    gap: 10px;
}
.bill{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom:20px;
}
.right{
    display: flex;
    gap: 1.5rem;
}

.line{
    display: flex;
    justify-content: space-between;
}
.line-right{
    display: flex;
    gap: 1.5rem;
}